@use "../abstracts/theme" as *;

.btn {
  --button-height: 1.25rem;
  padding: 0.5rem var(--button-height);
  font-weight: 700;
  border-radius: 0.65rem;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  color: #fff;
  background-color: var(--bg-color, #333);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    background-color: var(#444c56, #555);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    outline: none;
  }
}