@use "../abstracts/theme" as *;

.tags {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-bottom: .2rem;

    .tag {
        display: inline-flex;
        align-items: center;
        background-color: $primary-color;
        color: white;
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        font-family: $font-family-thirdly;
        white-space: nowrap;
    }

    .tag-icon {
        width: 1.8em;
        height: 1.8em;
        margin-right: .2rem;
        object-fit: contain;
    }
}