@use "../abstracts/theme" as *;

.home-body {
    margin: 0;
    overflow: hidden;
    background: $primary-color;
}

.home-container {
    background-color: $secondary-color;
}

.home-title {
    font-family: $font-family-primary;
    color: $light;
    font-size: clamp(3rem, 8vw, 10rem);
}

.home-subtitle {
    font-family: $font-family-secondary;
    color: $light;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
}

.home-projects {
    margin: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: $dark;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;

    .thumbnail {
        text-align: center;
    }

    .project-title {
        font-family: $font-family-primary;
        font-size: 24px;
    }

    #main-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .small-thumbnails {
        display: flex;
        justify-content: center;
        margin: 10px 0;
    }

    .small {
        width: 60px;
        height: auto;
        margin: 0 5px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 4px;
    }

    .small:hover {
        border: 2px solid #007BFF;
    }

    .tags {
        margin: 10px 0;
    }

    .tag {
        background: #007BFF;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        margin: 0 5px;
    }

    .subtitle {
        font-family: $font-family-secondary;
        font-size: 18px;
        margin-bottom: 5px;
    }
}