@use "../abstracts/theme" as *;

.home-body {
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    background: $primary-color;
}

.home-container {
    background-color: $secondary-color;
    
}

.home-title {
    font-family: $font-family-primary;
    color: $light;
    font-size: clamp(3rem, 8vw, 10rem);
}

.home-subtitle {
    font-family: $font-family-secondary;
    color: $light;
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: 400;
}