//@use "../abstracts/theme" as tm; include files like this

//color
$dark: #345DA7;
$primary-color: #3b8ac4;
$secondary-color: #4bb4de;
$light: #efdbcb;
$text-color: black;
$link-color: #243ad4;

// Fonts
@use "./fonts";
$font-family-primary: 'CalSans', sans-serif;
$font-family-secondary: 'AlbertSans', sans-serif;
$font-family-thirdly: 'Jost', sans-serif;
$text-size-large: 2.2rem;  
$text-size-medium: 1.25rem;
$text-size-small: 0.3rem;